body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* App styles */
.content {
  margin: auto;
  max-width: 600px;
}
.content {
  margin-top: 40px;
}

ul {
  list-style-type: none;
}

.poll {
  padding: 4px 16px 4px 16px;
  border: 1px solid gray;
  border-radius: 3px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
}

.poll-content {
  width: 65%;
}
.poll-content h5 {
  margin-top: 8px;
}

.question-option-button {
  min-height: 2.5em;
  margin: 8px;
  width: 300px;
}

.question-answer-button {
  min-height: 2.5em;
  background-color: lightgrey;
  color: #3e4444;
  margin: 8px 8px 0 8px;
  width: 300px;
}

.my-answer {
  height: 2.5em;
  background-color: #99bb9a;
  color: darkslategrey;
}

.leaderboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid gray;
  border-radius: 3px;
  margin: 4px;
}

.leaderboard-position {
  padding: 0 24px;
}

.leaderboard-picture {
  padding: 8px 24px 8px 4px;
}

.leaderboard-content {
  padding: 8px 24px 8px 4px;
}

.leaderboard-score {
  background-color: lavender;
  border: 1px solid #ddddf5;
  border-radius: 2px;
  padding: 8px;
}

.score {
  font-weight: 500;
  font-size: 1.5em;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 24px;
  background-color: #4179a7;
}

nav.links {
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
}

nav a {
  padding-right: 16px;
  text-decoration: none;
  color: white;
}

nav a:active {
  text-decoration: none;
}

nav a:hover {
  color: #1c374c;
}

.nav-pic {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 4px;
  vertical-align: middle;
}

.logged-user {
  padding-right: 24px;
}

.text-muted {
  color: gray;
  font-size: small;
}

.date {
  margin-top: 0;
}

.teaser-block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 4px 16px 4px 16px;
}

.teaser-text {
  display: block;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.2em;
}

.would-you-rather {
  font-size: 1.4em;
  font-weight: 500;
}

.or {
  color: gray;
  margin: 8px;
}

.stats {
  font-size: small;
}

.page-selector {
  padding: 8px 16px;
  width: 13em;
}

.signin {
  padding: 4px 16px 4px 16px;
  border: 1px solid gray;
  border-radius: 3px;
  max-width: 300px;
  min-height: 300px;
  margin: auto;
  margin-top: 48px;
  background-color: steelblue;
}
.signin button {
  height: 2em;
  width: 200px;
  margin-top: 8px;
}
.signin select {
  width: 200px;
  height: 1.8em;
}
.signin h1 {
  margin-bottom: 56px;
}

.new-question {
  padding: 4px 16px 4px 16px;
  border: 1px solid gray;
  border-radius: 3px;
  max-width: 300px;
  min-height: 300px;
  margin: auto;
}
.new-question button {
  height: 2em;
  width: 200px;
  margin-top: 8px;
}
.new-question input {
  width: 200px;
  height: 1.8em;
  padding: 4px;
}
